@import "http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
@import url(https://fonts.googleapis.com/css?family=Griffy|Open+Sans:400,700|Roboto:400,700);


$bg-body: #f9f9f9;

$primary-color: #999;
$secondary-color: #eeeeee;
$third-color: #cccccc;

$base-font: helvetica, arial, tahoma, verdana;
$base-font-title: "Dosis", arial, tahoma, verdana;
$base-font-size:0.7rem;
$base-font-title-size:1.2rem;

$base-font-color: #222;



%clearfix {
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '-o-' {
		#{$prefix}#{$prop}: $val;
	}
}
*, *:before, *:after {
    @include prefix(boxsizing,bordersize);
    margin: 0;
    padding:0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


body {
    background-size: cover;
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
    font-family: $base-font;
    color: $base-font-color;
    background-color: $third-color;

    a {
        text-decoration: none;
    }

    header {

        @extend %clearfix;
        display: inline-block;
        top: 0;
        right: 0;
        left: 0;
        height: 20%;
        position: fixed;
        z-index: 4;
        text-align: center;
        background-color: white;
        @include prefix(box-shadow, rgba(0, 0, 0, 0.2) 10px 10px 10px);

        .profile {
            height: 150%;
            width: 20%;
            position: relative;
            padding: 10px;
            top: 0;
            margin: 0 0 0 39%;
            text-align: center;
            font-family: 'Griffy', cursive;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                border: hidden;
                @include prefix(bottom-box-shadow, rgba(0, 0, 0, 0.2) 2px 2px 2px);
            }
            &:hover {
                .pro {
                    left: 0;
                }

                &.alt {
                    .pro {
                        right: 0;
                    }
                }
            }

            &.alt {
                .pro {
                    right: -100%;
                    left: inherit;
                }
            }

            .pro {
                background: rgba(0, 0, 0, 0.6);
                height: 100%;
                width: 100%;
                top: 0;
                border-radius: 50%;
                border: hidden;
                left: -100%;
                position: absolute;
                text-align: center;

                h1 {
                    top: 45%;
                    margin-top: 30%;
                    font-size: 1.2rem;
                    line-height: 1rem;
                    color: white;
                }
                h3 {
                    font-size: 0.7rem;
                    line-height: 1rem;
                    color: white;
                }
            }

        }
        .menu {
            top: 0;
            left: 0;
            bottom: 0;
            font-size: smaller;
            width: 15%;
            height: 80%;
            padding: 0;
            float: left;
            display: inline-block;
            text-align: center;
            &:hover {
                .options {
                    left: 0;
                }

                &.alt {
                    .options {
                        right: 0;
                    }
                }
            }

            &.alt {
                .options {
                    right: -120%;
                    left: inherit;
                }
            }

            .goTo {
                height: 100%;
                width: 100%;
                z-index: 0;
                background-color: white;
                img {
                    margin-left: -30%;
                }
            }
            .options {
                left: -100%;
                position: absolute;
                height: auto;
                width: auto;
                top: 0;
                float: left;
                z-index: 1;
                @include prefix(transition, all 0.35s ease-in-out);
                .option {
                    width: 100%;
                    height: 30%;
                    margin: 2px;
                    position: relative;
                    cursor: pointer;
                    padding: 10px 20px;
                    border: 1px solid #5a5a5a;
                    color: white;
                    background: $third-color;
                    @include prefix(border-radius, 8px);
                    @include prefix(box-shadow, 5px 5px 5px 1px rgba(0, 0, 0, 0.2) inset);
                    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
                }
            }

        }
    }

    .container {
        width: 90%;
        margin: 50px auto;
        .columns {
            margin-top: 250px;
            @include prefix(column-gap, 15px);
            @include prefix(column-fill, auto);
            display: inline-block;
            .blog {
                background: #FEFEFE;
                border: 2px solid #FAFAFA;
                box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
                margin: 0 2px 15px;
                @include prefix(column-break-inside, avoid);
                @include prefix(page-break-inside, avoid);
                @include prefix(break-inside, avoid);
                padding: 15px;
                padding-bottom: 5px;
                opacity: 1;
                @include prefix(transition, all 0.2s ease);

                img {
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 15px;
                    margin-bottom: 5px;
                }

                p {
                    font: 12px/18px Arial, sans-serif;
                    color: #333;
                    margin: 0;
                }
                a {
                    &:after {
                        font-family: FontAwesome, fantasy;
                        content: "\f061";
                        margin-left: -10px;
                        opacity: 0;
                        vertical-align: middle;
                    }

                    &:hover:after {
                        margin-left: 5px;
                        opacity: 1;
                    }
                }

            }
        }

    }
    .over {
        display: none;
        position: absolute;
        text-align: center;
        height: 680px;
        width: 40%;
        max-width: 400px;
        top: 10px;
        bottom: 10px;
        left: 30%;
        right: 30%;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        z-index: 5;
        border: solid $secondary-color;
        @include prefix(box-shadow, rgba(0, 0, 0, 0.2) 10px 10px 10px);
        @include prefix(transition, all 0.35s ease-in-out);
        h1 {
            font-family: 'Griffy', cursive;
        }
        .in {
            height: 40px;
            background-color: $third-color;
            width: 90%;
            position: relative;
            margin-bottom: 5px;
        }
        textarea {
            position: relative;
            background-color: $third-color;
            width: 90%;
            line-height: 150%;
            resize: vertical;
        }
        .summ {
            height: 150px;
        }
        .text {
            height: 250px;
        }
        .submit {
            position: relative;
            width: 90%;
            border: #fbfbfb solid 4px;
            cursor: pointer;
            background-color: #aaa;
            color: white;
            font-size: 24px;
            padding-top: 22px;
            padding-bottom: 22px;
            font-weight: 700;
        }
        .error {
            color: #ff3333;
            font-size: small;
            font-style: italic;
            margin-top: 3px;
        }
    }

}
@media screen and (max-width: 960px) {
    .columns {
		@include prefix(column-count, 3);
	}
}

@media screen and (min-width: 960px) {
	.columns {
		@include prefix(column-count, 4);
	}
}

@media screen and (min-width: 1100px) {
	.columns {
		@include prefix(column-count, 5);
	}
}