/*
Error: Invalid CSS after "...00,500,600,700"": expected "{", was ";"
        on line 1 of start_page.scss

1: /@import "http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
2: @import url(https://fonts.googleapis.com/css?family=Griffy|Open+Sans:400,700|Roboto:400,700);
3: 
4: 
5: 
6: $primary-color: #999;

Backtrace:
start_page.scss:1
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1137:in `expected'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1132:in `tok!'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:665:in `block'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:658:in `ruleset'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:684:in `block_child'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:674:in `block_contents'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:125:in `stylesheet'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:41:in `parse'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:406:in `_to_tree'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/plugin.rb:82:in `update_stylesheets'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
E:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.24/bin/scss:13:in `<top (required)>'
E:/Ruby200/bin/scss:23:in `load'
E:/Ruby200/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...00,500,600,700\"\": expected \"{\", was \";\"\A         on line 1 of start_page.scss\A \A 1: /@import \"http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700\";\A 2: @import url(https://fonts.googleapis.com/css?family=Griffy|Open+Sans:400,700|Roboto:400,700);\A 3: \A 4: \A 5: \A 6: $primary-color: #999;"; }
