<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome to MyWeblog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="../../static/css/normalize.css">
        <link href="//fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/css/main.css">
        <link rel="stylesheet" href="../../static/css/start_page.css">
</head>
<body>
<div class="wrapper">
    <ul class="tab-group">
        <li class="tab"><a href="#signup"> Sign Up </a></li>
        <li class="tab active" ><a href="#login">Log In</a></li>
    </ul>
    <div class="tab-content">
        <section id="signup" class="hide">
          <form class="form" action="/" method="post">
              <p >
                  <input name="username" type="text" class="number feedback-input" placeholder="User Name"  />
              </p>
              <p >
                  <input name="name" type="text" class="fname feedback-input" placeholder="First Name"  />
              </p>
              <p >
                  <input name="name" type="text" class="lname feedback-input" placeholder="Last Name"  />
              </p>
              <p >
                  <input name="email" type="text" class="email feedback-input" placeholder="Email Address" />
              </p>
              <p >
                  <input name="pass" type="password" class="pass feedback-input" placeholder="Set a Password"  />
              </p>
              <p >
                  <input name="pass1" type="password" class="pass1 feedback-input" placeholder="Confirm Your Password"  />
              </p>
              <div class="submit">
                  <button type="submit" class="sign button-blue">Sign Up</button>
                  <div class="ease"></div>

              </div>


           <p class="error err1" ></p>
          </form>
        </section>

        <section id="login" class="active">
          <form class="form" action="/" method="post">
              <p >
                  <input name="username" type="text" class="number2 feedback-input" placeholder="User Name"  />
              </p>
              <p >
                  <input name="name" type="password" class="pass2 feedback-input" placeholder="Password"  />
              </p>
               <div class="submit">
                  <button type="submit" class="login button-blue">Log In</button>
                  <div class="ease"></div>
              </div>
            <!-- <button class="button button-block"/>Log In</button>-->
              <p class="error err2"></p>
          </form>

        </section>

      </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript" src="../../static/js/time.js"></script>
<script type="text/javascript" src="../../static/js/start_page.js"></script>

</body>
</html>