<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="../../MyBlog/static/css/normalize.css">
        <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="../../MyBlog/static/css/main.css">
        <link rel="stylesheet" href="../../MyBlog/static/css/main_page.css">
        <link rel="stylesheet" href="../../MyBlog/static/css/start_page.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
            {% block head %}

            {% endblock %}

	    </header>

           {% block body %}

           {% endblock %}

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.js"></script>
       <script src="../../MyBlog/static/js/plugins.js"></script>
        <script src="../../MyBlog/static/js/time.js"></script>
        <script src="../../MyBlog/static/js/main_page.js"></script>
        <script type="text/javascript" src="../../MyBlog/static/js/start_page.js"></script>

    </body>
</html>
    </body>

</html>
