{% extends 'blog/base.html' %}
{%  comment %}

{% endcomment %}
{% block head %}
    <div class="menu">
         <ul class="options">
             <li class="option addPost">Add Post</li>
             <li class="option edit">Setting</li>
             <li class="option exit">Log out</li>

         </ul>
     </div>
    <div class="profile">
        <img class="profileimage" src="../../MyBlog/static/img/profile.jpg" height="128" width="128">
    </div>
{% endblock %}

{% block body %}
     <div class="over">
            <h1>Add New Post</h1>
            <form class="postForm">
                <input name="Title" type="text" class="in title" placeholder="Title">
                <p >
                    <textarea name="s" class="summ" placeholder="Summary"></textarea>
                </p>
                <p >
                    <textarea name="t" class="text" placeholder="Text"></textarea>
                </p>
                <div >
                    <button type="submit"  class="submit">Submit</button>
                    <div class="error"></div>
                </div>
            </form>
        </div>
{% endblock %}