<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome to MyWeblog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="../../MyBlog/static/css/normalize.css">
        <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="../../MyBlog/static/css/main.css">
</head>
<body>


<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script src="../../MyBlog/static/js/time.js"></script>
<script type="text/javascript" src="../../MyBlog/static/js/start_page.js">
</script>

</body>
</html>